{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="col-sm-10">

    <h4 class="lead text-center">Sveiki {{ user.get_username }}, čia prasideda jūsų kelionė į geresnę savijautą ir fizinę formą!</h4>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <img src="{% static 'images/logo.png' %}" class="img-fluid rounded">
        </div>
    </div>
        <div class="row mt-4">
        <!-- Asmeninė informacija -->
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                    <h4 class="card-title">Jūsų narystė</h4>
                        <p>{{ member.membership_type.name }}</p>
                        <p>www{{ memberships.end_date}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Užregistruotos treniruotės -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Užregistruotos treniruotės</h4>
                    {% if bookings %}
                    <ul class="list-group">
                        {% for booking in bookings %}
                        <li class="list-group-item">
                            <strong>{{ booking.class_session.name }}</strong><br>
                            Instruktorius: {{ booking.class_session.instructor.first_name }} {{ booking.class_session.instructor.last_name }}<br>
                            Data: {{ booking.class_session.schedule|date:"Y-m-d H:i" }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Šiuo metu neturite užsiregistruotų treniruočių.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}