{% extends 'base.html' %}

{% block content %}
<div class="col-sm-10">
  <div class="container tvarkarastis">
    <h4>Treniruočių tvarkaraštis</h4>

    <!-- Kortelių išdėstymas vienoje eilutėje -->
    <div class="row">
      {% for class in schedule %}
        <div class="col-md-3 mb-3">  <!-- Kortelė užima 4 stulpelius, o tarp jų yra tarpas -->
          <div class="card" style="background-color: #495057; color: white;">
            <div class="card-body">
              <h5 class="card-title" style="color: #e57373;">{{ class.name }}</h5>
              <p class="card-text">{{ class.date }}</p>
              <p><strong>{{ class.time }}</strong></p>
              <p>dalyviai: {{ class.current_bookings }} / {{ class.max_capacity }}</p>
              <p>
                 <a href="{% url 'treneris' instructor_id=class.coach_id %}">
                    {{ class.coach_vardas }} {{ class.coach_pavarde }}
                 </a>
              </p>

              <!-- Registracijos forma -->
              {% if class.is_full %}
                <button class="btn btn-secondary" disabled>Treniruotė pilna</button>
              {% else %}
                <form method="post" action="{% url 'register_class' class_id=class.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">
                    {% if user.is_authenticated %}Registruotis{% else %}Prisijungti{% endif %}
                  </button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Puslapiavimo nuorodos -->
  <div class="container puslapiai">
    <nav aria-label="Puslapiai">
      {% if page_obj.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-end">
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active">
                <a class="page-link" style="background-color: #495057; color: white;">{{ i }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}" style="background-color: #495057; color: white;">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
</div>
{% endblock %}
