Sveiki,

Jūs pateikėte užklausą dėl slaptažodžio keitimo mūsų svetainėje „Sporto GURU“. Jeigu tai buvote Jūs, spauskite šią nuorodą, kad galėtumėte atkurti slaptažodį:

( {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} )

Ši nuoroda galios ribotą laiką, todėl rekomenduojame ją naudoti kuo greičiau.

Jeigu Jūs nepateikėte šios užklausos, tiesiog ignoruokite šį laišką – jokių veiksmų nereikia imtis.

Jeigu turite klausimų arba kyla problemų, susisiekite su mumis:
el. paštas: sportoguruinfo@gmail.com
telefonas: +370 600 00000

Dėkojame,
Sporto GURU komanda